@import '../utils/variables';

.footer-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    background-color: $color-black;
    height: $footer-height;
    color: $color-white;

    @media(max-width: $max-device-mobile) {
        row-gap: 15px;
    }

    span {
        font-size: $text-lg;

        @media(max-width: $max-device-mobile) {
            font-size: $text-sm;
            width: 100px;
            text-align: center;
        }
    }
}